body {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    font-size: 4vh;
    text-align: center;
    vertical-align: top;
    background-color: #11151B;
    color: #E6ECF5;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 0.1;
}

button {
    font-family: inherit;
    font-weight: 600;
    font-size: 4vh;
    width: 85vw;
    height: 10vh;
    margin: 0;
    background-color: #313D4D;
    color: #E6ECF5;
    border: 5px solid #2F3A49;
    border-radius: 22px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    transition: all 0.1s;
}

button:active {    
    background-color: #243041;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    top: 3px;
    left: 3px;    
}

#taboo-card {    
    width: 85vw;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    border-radius: 22px;
    border: 5px solid #2F3A49;
    background-color: #313D4D;
    color: #E6ECF5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#forbidden-card {
    width: 85vw;
    height: 55vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    border-radius: 22px;
    border: 5px solid #2F3A49;
    background-color: #243041;
    color: #E6ECF5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

