body {
    font-family: Arial, sans-serif;
    /*font-weight: bold;*/
    font-size: 4vh;
    text-align: center;
    vertical-align: top;
    background-color: grey;
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 0.1;
}

button {
    font-size: 4vh;
    width: 85vw;
    height: 10vh;
    margin: 0;
    background-color: blue;
    color: white;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    transition: all 0.1s;
}

button:active {    
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    top: 3px;
    left: 3px;    
}

#taboo-card {    
    width: 85vw;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    border-radius: 10px;
    border: 5px solid black;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#forbidden-card {
    width: 85vw;
    height: 55vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    border-radius: 10px;
    border: 5px solid black;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

